table {
  border: 3px solid #191970;
  width: 100%;
  border-collapse: collapse;
}
td, th {
  border: 2px solid #191970;
  background: #B0E0E6;
}
.v{
  margin-left: 100px;
}
.block {
  width: 400px;
  height: 400px;
  display: none;
}
.block:target{
  display: block;
}