#table1 {border: 5px solid #8B008B; width: 40%;}
#table1 th{font-weight: normal;}
#table1 td {border: 2px solid #8B008B; text-align: right;}
#table1 .padclass {padding: 5px; text-align: center;}
#table1 .width {width: 250px; text-align: center;}
#table1 .height{height: 150px;}

#table2{border: 2px solid #008000;} 
#table2 td {border: 2px solid #008000; width: 200px; padding: 0px;}
#table2 {border-spacing: 20px;}

#table3 {border: 2px solid #FF0000;}
#table3 td {border: 2px solid #FF0000; width:300px; padding: 0px;}
#table3 {border-spacing: 30px;}
#table3 .blue {border: 2px solid #1E90FF;}
#table3 .green {border: 2px solid #008000;}

#table4 {border: 3px solid #008000;}
#table4 td {border: 3px solid #008000; width: 200px; padding: 10px;}
#table4 {border-collapse: collapse;}
#table4 .blue {color: #1E90FF;}
#table4 .pink {color: #FF42F3;}

#table5_1 {border-color:#FF42F3;}
#table5, #table5_1 td.clas1{border: 3px solid  #FF42F3; border-bottom:none; border-top:none;}
#table5 .colour1{background: #39E383;}
#table5 .colour2 {background: #2FFFA5;}
#table5 td {width: 220px;}

#table7 td {border: 3px solid #313189; width:150px; height: 18px;}
#table7 .colour1 {background: #5DAEFF}
#table7 .colour2 {background: #E58E9D;}
#table7 .colour3 {background: #FF42F3;}
#table7 {border-collapse: collapse;}

#table8, #table8 td {border: 1px solid #1E90FF;}
#table8 .heigh {height: 65px;}
#table8 .width {width: 30px;}
#table8 #table1 {border-collapse: collapse; border: 3px solid #FF42F3;}
#table8 #table2 {border-collapse: collapse; border: 3px solid #9A00E1;}
#table8 .table1_td {border: 3px solid #FF42F3}
#table8 .table2_td {border: 3px solid #9A00E1; width: 30px;}


