  body {
    background-color: #DCDCDC;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  } 
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  ul{
    list-style-type: none;
    cursor: pointer;
    font-weight: bold;
  }
   div>li{
    list-style-type: '- ';
    cursor: default; 
    font-weight:lighter;
  }