body{
    background-image: url(photo/fon.jpg);
    background-attachment: scroll;
}
.column {
    width: 650px;
    margin-left: 40px;
    margin-bottom: 40px;
    overflow: scroll;
    overflow: auto;
    font-family: Gill Sans, sans-serif;
    box-shadow: 0 0 10px 5px rgb(189, 176, 107);
    resize: both;
    background: linear-gradient(45deg, #bbbbbb, #575757);
    transition-property: width, height;
    transition-duration: 2s;
    transition-timing-function: linear;

  }

  .column-1{
    background-color: #16161690;
    margin-top:40px;
    position: absolute;
    border: 10px solid #353f3b;
    }

.f1{ 
    margin-left: 800px;
    cursor: pointer;
    transform: rotateY(20deg);
}

.column:hover {
    width: 670px;
  }

.f2{ 
    margin-left: 20px;
    margin-top: 470px;
    margin-bottom: 20px;
    cursor: pointer;
    transform: rotateY(20deg);
}

.f3{ 
    margin-left: 690px;
    margin-top: 400px;
    margin-bottom: 20px;
    cursor: pointer;
    transform: rotateY(20deg);
}
    .column-2{
        background-color: #16161690;
        margin-left: 800px;
        margin-top: 20px;
      position: absolute;
      outline: 10px solid rgb(32, 32, 32); 
        }
            .column-4{
                position: absolute;
                margin-left: 40px;
                background-color: #16161690;  
                margin-top: 20px;
                border: 10px solid #353f3b;
                }

       p,li{
            text-indent: 25px;
            margin-left: 40;
            margin-right: 40;
            text-align: justify;
           text-shadow: 1px 1px 1px rgb(0, 0, 0),0 0 1em rgb(104, 100, 100);
            font-size: 16;
            color: #ffffff;
            font-weight: 300;
        }

        h3{
            text-indent: 25px;
            margin-left: 40;
            margin-right: 40;
            text-align: justify;
            text-shadow: 1px 1px 1px rgb(255, 255, 255),0 0 1em rgb(255, 255, 255);
            color: #000000;
            font-weight: 800;
        }

        h1{
            text-indent: 25px;
            margin-left: 40;
            margin-right: 40;
            text-align: justify;
           text-shadow: 1px 1px 1px rgb(255, 255, 255),0 0 1em rgb(255, 255, 255);
                        color: #000000;
            font-weight: 800;
            font-family: Gill Sans, sans-serif;
            text-decoration-line: underline overline; 
            text-decoration-style: solid;
            text-decoration-color: rgb(94, 90, 89);
        }

        aside {
            width: 50%;
            padding-left: .9rem;
            margin-left: .9rem;
            float: right;
            box-shadow: inset 8px 0 5px -5px#16161690;
            font-style: italic;
            color: #16161690;
            margin-right: 40;
            transition-property: width, height;
            transition-duration: 4s;
            transition-delay: 1s;
        }

            aside > p {
            margin: .5rem;
        }

        aside:hover {
            width: 550px;
          }

        footer{
            font-size: 25;
            color: #030303cb;
            font-family: Gill Sans, sans-serif;
            font-weight: 500;
            text-shadow: 1px 1px 1px rgb(255, 255, 255),0 0 1em rgb(255, 255, 255);
        }

        mark{
            background: #5f5f5f93;
            padding: 0 3px;
            border: 3px dashed rgb(29, 29, 29);
        }

        .tag {
            color: rgb(0, 0, 0); 
            font-family: Gill Sans, sans-serif;
            quotes: """ """; 
           } 

           .tag:before {
            content: open-quote;
          }

           .tag:after {
            content: close-quote; 
           }

           a{
               cursor: help;
            }

        strong{
                text-indent: 25px;
                margin-left: 65;
                font-size: 18;
                color: #000000;
                font-weight: 400;
                font-family: Gill Sans, sans-serif;
                transition: all 1s ease 0s;
            }

            .caret-example {
                caret-color: #e4d762 ;
                }
                 
                figcaption{
                    transition: all 1s ease 0s;
                    rotate: 4em;
                }
               
.f1, .f2, .f3, .f4, .f5, .f6, .f7{
    transition: 3s ease-in-out;
}

  .f4:hover {
    outline: 5px solid #000000;
    outline-offset: 5px;
    transform: rotate(-90deg)
  }

  .f5:hover {
    outline: 5px solid #000000;
    outline-offset: 5px;
    transform: rotate(-90deg)
  }
  .f6:hover {
    outline: 5px solid #000000;
    outline-offset: 5px;
    transform: rotate(-90deg)
  }
  .f7:hover {
    outline: 5px solid #000000;
    outline-offset: 5px;
    transform: rotate(-90deg)
  }
.f4{
    margin-left: 45;
}
.f5{
    margin-left: 550;
}
.f6{
    margin-left: 735;
}
.f7{
    margin-left: 1070;
}    

.f4, .f5, .f7{
    position:absolute;
    outline: 5px solid transparent;
   transform: matrix(0.5, 0.5, -0.5, 0.5, 100, 0);
}
.f8, .f9, .f10{
    position:absolute;
    transform: matrix3d(0.5, 0.1, 7.7, 0, -0.5, 0.8, 7.1, 0, -6.6, -10.5, 12.5, -10, -10, -10, -10, 1.3);
}
.f8{
    margin-left: 40;
}
.f9{
    margin-left: 550;
}
.f10{
    margin-left: 1070;
} 
