.carousel-control-prev-icon{
    background-image: url(photo_yaremii/left-arrow.svg);
}

.carousel-control-next-icon{
    background-image: url(photo_yaremii/right-arrow.svg);
}

.carousel-control-next, .carousel-control-prev{
    width:20px;
}

.carousel-control-prev{
    left:-40px;
}

.carousel-control-next{
    right: -40px;
}