@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@600&display=swap');

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
  }
  .d-flex{
    margin-top: 10px;  
  }

  .success {
    border-color:#4c6270;
    color:#4c6270;
  }

  .success:hover {
    background-color: #336273;
    color: white;
  }

  .nav-item{
    margin-left: 30px; 
  }

  .dropdown-item:active{
    background-color: #336273;
  }

body{
    background-color: #ffffff;
}

.col-lg-3{
background-color: #ffffff;
opacity: 0.75;
background-image: radial-gradient(#8fb7c5 2px, #ffffff 1px);
background-size: 40px 40px;
font-family: 'Cormorant Unicase', serif;
font-style: italic;
color: #231a40}

.col-lg-2{
font-size: 100;
font-family: 'Cormorant Unicase', serif;
margin-right: 20px;
}

section, header{
    font-family: 'Cormorant Unicase', serif;
}

.img{
    margin-left: 90px;
}

.carousel-control-prev-icon{
    background-image: url(photo_yaremii/left-arrow.svg);
}

.carousel-control-next-icon{
    background-image: url(photo_yaremii/right-arrow.svg);
}

.carousel-control-next, .carousel-control-prev{
    width:20px;
}

.carousel-control-prev{
    left:-40px;
}

.carousel-control-next{
    right: -40px;
}

footer{
    margin-left: 110px;
    font-size: 20;
font-family: 'Cormorant Unicase', serif;
}