div {
    width: 256px;
    height: 256px;
    font-size: 2em;
    border-style:double;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 0.3em red;
 color: #ffffff;
 border-color: #000000;
}
.absolute {
position: absolute; 
left: 1100;
top: 100;
background-image: url(../photo/_1.jfif);
}
.fixed {
position: fixed;
left: 500;
top: 100;
background-image: url(../photo/_2.jpg);
}
.relative {
position: relative;
top: 400;
left: 250;
background-image: url(../photo/_3.jpg);
}
.static {
    position: static;
    background-image: url(../photo/_4.jpg);
    }
.inherit {
        position: inherit;
        margin-top: 300;
        margin-left: 250;
        background-image: url(../photo/_5.jpg);
 font-size: 1em;
        }
.body{
background-image: url(../photo/fon.jpg);
background-attachment: fixed;
}
