p{
    text-indent: 30;
    font-size: 20;
}
.body{
    padding: 70;
    background-image: url(../photo/fon2.jpg) ;
    background-attachment: scroll;
    color:aliceblue;
    text-shadow: 1px 1px 1px rgb(11, 0, 163), 0 0 0.2em rgb(0, 60, 255);
}
h2{
    font-size: 100;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(11, 0, 163), 0 0 1em rgb(255, 255, 255);
}
.none{
clear: none;
float: left;
}
.left{
    clear: left;
    float: right;
}
.right{
    clear: right;
    float: left;
}
.inherit{
    clear: inherit;
    float: left;
}
.both{
    clear: both;
}
.left, .right, .none, .inherit, .both{
    margin: 50px 50px 50px 50px;
}