body {
  background-color: #DCDCDC;
  font-family: "Roboto", sans-serif;
} 
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
input[type="button"] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ed5565;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus {
  background: #da4453;
}
textarea {
  resize: none;
}
button:hover{
  background: #da4453;
}
button {
  border-color: #da4453; 
  color: black;
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-bottom: 20px;
}